:root{
    --orange-color: #FA7436;
    --grey-color: #666666;
}

/* base styling */
*,
*::before
*::after{
    box-sizing: border-box;
}

body{
    font-family: "poppins", sans-serif;
    margin: 0;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

/* button styling */

.btn-light{
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 10px;
    color: #ffff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    background: var(--orange-color);
    border: none;
    
}

.btn-empty{
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 10px;
    color: #ffff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    border-color: var(--orange-color);
     
}

.btn-empty a{
    text-decoration: none;
    color: #FA7436;
  
}

.wrapper{
    margin: 0;
    width: 1440px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    width: 1250px;
    z-index: 1;
    transition: all 500ms ease;
    position: relative;

    @media (max-width:320px){
      width: 100%;
      margin: 0;
      flex-direction: column;
      align-items: flex-start;

    }
    
}

nav ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0;
    gap: 50px;
    list-style: none;
    padding-left: 200px;

    @media (max-width:320px){
    flex-direction: column;
    padding-top: 20px;

          
    }
}

nav ul .login{
    padding-left: 100px;

    @media (max-width:300px){
      width: 100%;
    }
}

nav ul li a{
    font-size: 16px;
    font-weight: 400px;
    color: #000;
    text-decoration: none;

    @media (max-width:300px){
      width: 100%;
    
    }
}
nav ul li .login{
    color: #FA7436;

    @media (max-width:320px){
      margin: 0;
      padding-right: 100px;
    }
}

.logo img{
    margin-left: 80px;
    
       
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120vh;
    width: 1250px;
    position: relative;
    margin-left: 80px;

    @media (max-width:320px){
      margin: auto;
      width: 100%;
      margin-top: 100px;
      flex-direction: column;
      align-self: stretch;
      gap: 50px;
      margin-left: -130px;
     
    }   
}


.hero-section .left h1{
    font-family: "volkhov", sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 125%; 

    @media (max-width:320px){
      margin-left: -190px;
     
    }
  
  }

.journey-color{
    color: var(--orange-color);
}

.hero-section .left p{
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;
    width: 400px;
    padding-top: 5%;
    padding-bottom: 20px;
    color: var(--grey-color);

    @media (max-width:320px){
      margin-left: -150px;
    
    }
  
 }

 .hero-section .left button{
  @media (max-width:320px){
    align-items: center;
    margin-left:50px
  }
 }


 .hero-section .left{
    flex: 1;
    margin-top: -100px;
 }

 .hero-section .right .group{
 
    width: 785px;
    height: 585px;
    left: 916px;

    @media (max-width:320px){
      flex-direction: column;
      margin-left: -30rem;

    }
    
 }

 .hero-section .right .flight-image{
    position: absolute;
    width: 785px;
    height: 191px;
    opacity: 0.5;
    margin-left: 10px;
    margin-top: -40px;
 }

 .hero-section .right .hero-image{
    position: absolute;
    width: 500px;
    height: 530px;
    margin-left: 50px;
    padding-left: 100px;
    padding-top: 10px;
 }

 .hero-section .right .group .cards{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    gap: 50px;
    
 }

 .hero-section .right .cards .card-1 .bg1{
   
    width: 150px;
    height: 66px;
    left: 989px;
    margin-right: 0;
    margin-top: -140px;
    margin-left: 100px;
    background: #FFFFFF;
    box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-wrap: wrap;
    position:static;

 }

 .hero-section .right .cards .card-2 .bg2{
   
    width: 192px;
    height: 68px;
    margin-top: 350px;
    margin-left: -170px;
    background: #FFFFFF;
    box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

 }

 .hero-section .right .cards .card-3 .bg3{
     
    width: 173px;
    height: 74px;
    margin-top: 6rem;
    margin-left: 100px;
    background: #FFFFFF;
    box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

 }

 .hero-section .cards .card-1 .trophy{
    display: flex;
    gap: 15px;
    margin-left: 110px;
    margin-top: -75px;
    font-weight: normal;
 }

 .hero-section .cards .card-2 .ratings{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-left: -159px;
    margin-top: -70px;

 }

 .hero-section .cards .card-2 .ratings h4{
    font-size: 15px;
 }

 .hero-section .cards .card-2 .ratings p{
    margin-top: -20px;
    font-size: 12px;

 }

 .hero-section .cards .card-2 .ratings img{
    width: 32px;
    height: 32px;
    padding-right: 10px;
 }

 .hero-section .cards .card-3 .explore{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: -95px;

 }

 .hero-section .cards .card-3.explore h4{
    font-size: 20px;
    
 }

 .hero-section .cards .card-3 .explore p{
    margin-top: -20px;
    font-size: 14px;
}
 
 .hero-section .cards .card-3 .explore img{
    width: 32px;
    height: 32px;
    padding-right: 10px;
 }

 .search-bar .contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 820px;
    margin-bottom: 40px;
    margin-top: -35px;
    margin-left: 250px;
    box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-right: 20px;

    @media (max-width:320px){
      margin-top: 18rem;
      width: 150px;
      padding-left: 20px;
      padding-bottom: 20px;
    }
  
 }

 .search-bar .contents .content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;

     @media (max-width:320px){
      flex-direction: column;
      gap: 15px;
      flex-wrap: wrap;
      
    }
  }

 .search-bar .contents .head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }

 .search-bar .contents .content .down p{
    margin-left: 20px;
    font-size: 12px;
    color: var(--grey-color);
    margin-top: 1px;
 }

 /* Things To Do Part */

 .things{
   margin-top: 12rem;
   max-width: 1440px;   
 }

 .things .container{
   position: relative;
   margin: 0; 

    @media (max-width:320px){
    width: 100%;
    height: auto;
   }
    @media (max-width:1440px){
    margin-left: -50px;
   }
   
 }

 .things .container .content .head{
    display: flex; 
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 521px;
    height: 142px;
    padding-bottom: 150px;
    padding-left: 20rem;
    padding-top: 100px;
    padding-right: 100px;
   

   @media (max-width:320px){
    width: 100%;
    padding-left: 8rem;  
    align-self: stretch; 
    margin-top: -90px;
   
    
   }
   @media (max-width:1440px){
    margin-left: 50px;
   }
   
 }

 .things .container h1{
   font-family: "volkhov", sans-serif;
   font-weight: 900;
   font-size: 48px;
   text-align: center;
   padding-left: 140px;

@media (max-width:320px){
     flex-direction: row;
    margin-right: -300px;
    margin-left: -400px;

  }   
 }

 .things .container h1 .orange{
   color: var(--orange-color);
 }

 .things .container .head p{
   text-align: center;
   margin-top: -20px;
   padding-bottom: 15rem;
   padding-left: 140px;

   @media (max-width:320px){
     flex-direction: row;
    margin-right: -300px;
    margin-left: -400px;

  }

 }

 .things .container .element{
   position: absolute;
   width: 180px;
   height: 130px;
   margin-left: 50rem;
   padding-right: 50px;

   @media (max-width:320px){
    width: 100%;
    height: auto;
    padding: 20px;
    margin-left: 0;
   }
    @media (max-width:1440px){
    margin-left: 70rem;
   }

 }

 .things .container .content .cards{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 10px;
   padding-bottom: 20rem;

   @media (max-width:320px){
    width: 100%;
    flex-direction: column;
    gap: 15rem;
    padding: 0px 150px 200px;
    margin-top: -50px;
    
   }
 }

 .things .container .content .cards  .bg{
   
   position: relative;
   width: 370px;
   height: 278px;
   box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   z-index: 1;
   align-items: center;
   margin-left: 50px;
   margin-top: -10rem;
   
}

 .things .container .cards .content img{
   position: absolute;
   margin-left: 100px;
   margin-top: -4rem;
  
 }

 .things .container .cards h4{

   position: relative;
   font-size: 20px;
   font-family: "poppins", sans-serif;
   margin-left: 100px ;
   margin-top: -10rem;
   
 }

 .things .container .cards p{
   position: absolute;
   font-size: 16px;
   font-family: "poppins", sans-serif;
   margin-top: -10px;
   margin-left: 100px;

   @media  (min-width:300px) {
    margin-right: 20px;
    padding-left: 10;
    width: 100%;  
   }
 
}

.things .container .cards .card-1 .line-1 img{
  
   position: absolute;
   margin: 0;
   margin-left: 50px;
   margin-top: -10rem;

}

.things .container .cards .card-2 .line-2 img{
  
   position: absolute;
   margin: 0;
   margin-left: 50px;
   margin-top: -10rem;

}

.things .container .cards .card-3 .line-3 img{
  
   position: absolute;
   margin: 0;
   margin-left: 50px;
   margin-top: -10rem;

}

/* Exclusive part */

.exclusive{
   margin-top: 0;
   max-width: 1440px;
   
   
 }

 .exclusive .container{
   position: relative;
   margin-top: -80px;
   @media (max-width:1440px){
    margin-left: -40px;
   }
   }


 .exclusive .container h1{
   font-family: "volkhov", sans-serif;
   font-weight: 900;
   font-size: 48px;
   text-align: center;
   padding-left: 140px;

      @media (max-width:320px){
     flex-direction: row;
    margin-right: -200px;
    margin-left: 20px;
   
   }
 }

 .exclusive .container h1 .orange{
   color: var(--orange-color);
 }

 .exclusive .container .head p{
   text-align: center;
   margin-top: -20px;
   padding-bottom: 15rem;
   padding-left: 140px;

 @media (max-width:320px){
    flex-direction: row;
    margin-right: -380px;
    padding:0px 0px 50px 0px;
  
   }
 }

 .exclusive .container .content .cards{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap:1px;
   padding-bottom: 20rem;
   padding-left: 120px;

   @media (max-width:320px){
    width: 100%;
    height: auto;
    flex-direction: column;
   align-self: stretch;
   justify-content:space-evenly;
   padding: 0px 15rem 20rem ;
   gap: 15rem;
   margin-top: 150px;
  }

  @media (max-width:1440px){
    /* flex-direction: row;
    justify-content: space-evenly; */
    margin-left: -8rem;
    width: 100%;
  }
 }

 .exclusive .container .content .cards  .bg{
   
   position: relative;
   width: 270px;
   height: 426px;
   box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   z-index: 1;
   align-items: center;
   margin-left: 50px;
   margin-top: -10rem;
   
}

.exclusive .container .content .cards .main img{

   position: absolute;
   width: 270px;
   height: 290px;
   margin-left: 50px;
   margin-top: -426px;

}

.hover{
   position: absolute;
   width: 270px;
   height: 290px;
   margin-left: 50px;
   margin-top: -426px;
  
}


.hover .btn{

   position: absolute;
   width: 150px;
   height: 50px;
   background-color: var(--orange-color);
   border-radius: 10px;
   color: white;
   font-family: "poppins", sans-serif;
   font-size: 16px;
   margin-left: -210px;
   margin-top: 200px;
}

.exclusive .container .content .cards .upper{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: -140px;
   padding-left: 35px;

}

.exclusive .container .content .cards .upper h5{
   font-size: 20px;
   padding-left: 10px;
}

.exclusive .container .content .cards .upper img{
   
   padding-left: 80px;
}

.exclusive .container .content .cards .upper p{
  margin-left: -30px;
}

.exclusive .container .content .cards .lower{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: -30px;
   padding-left: 50px;


}

.exclusive .container .content .cards .lower .left{
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 10px;
   margin-left: -50px;
}

.exclusive .container .content .cards .lower .right{
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 10px;
   margin-left: -30px; 
   
}

.exclusive .container .content  .lower .right .bg{
   background-color:#FFE7DB;
   width: 45px;
   height: 24px;
   color: var(--orange-color);
   font-weight: bold;
   border-radius: 5px;
   position: absolute;
   margin-top: 15px;
   margin-left: 102px;
   padding-left: 2px;
    
}

.exclusive .container .content  .lower .right .line{
   text-decoration: line-through;
}

.exclusive .container .content .bottom img{
   position: absolute;
   margin-left: 620px;
   margin-top: -230px;

   @media (max-width:320px){
    margin-left: 17rem;    
   }

   @media (max-width:1440px){
    margin-left: 45rem;
   }

}

/* Vacation Part */

.vacation{
   margin-top: 0;
   max-width: 1440px;
   
   
 }

 .vacation .container{
   position: relative;
   margin: 0;

   @media (max-width:320px){
    height: auto;
   
    margin-right:-15rem;
    margin-top: -250px;
    flex-direction: column;
    align-self: stretch;
   }

   @media (max-width:1440px){
    margin-left: -30px;
   }
 }

 .vacation .container h1{
   font-family: "volkhov", sans-serif;
   font-weight: 900;
   font-size: 48px;
   text-align: center;
   padding-left: 10px;

   @media (max-width:320px){
    flex-direction: row;
    margin-right: -200px;
    padding:0px 0px 50px 0px;
    
   }
 }

 .vacation .container h1 .orange{
   color: var(--orange-color);
 }

 .vacation .container .head p{
   text-align: center;
   margin-top: -20px;
   padding-left: 10px;

    @media (max-width:320px){
    flex-direction: row;
    margin-right: -200px;
    padding:0px 0px 50px 0px;
    margin-top: -50px;
   }
 }

 .vacation .container .content .tree{
   position: absolute;
   margin-top: -8rem ;
   margin-left: 65rem;
   width: 105.51;
   height: 81;
 }

 .vacation .container .content .slidebar{
   position: absolute;
   margin-left: 70rem;
   width: 112;
   height: 40;
 }

 .vacation .container .content .cards{
   position: relative;
   display: flex;
   align-items: center;
   padding-bottom: 10rem;

     @media (max-width:320px){
    height: auto;
    width: 100%;
    margin-left: 50px;
    margin-top: -90px;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-items: center;

   }
 }

 .vacation .container .content .cards .bg{
   
   position: relative;
   width: 369px;
   height: 447px;
   box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.1);
   border-radius: 14px;
   z-index: 1;
   align-items: center;
   margin-left: 55px;
   margin-top: 5rem;
   
}

.vacation .container .content .cards .main img{
   
   position: absolute;
   width: 369px;
   height:327px;
   margin-left: 55px;
   margin-top: -447px;
}

.vacation .container .content .cards .card-1 .rome img{
   position: absolute;
   margin-left: -25px;
   margin-top: -28rem;
}

.vacation .container .content .cards .upper{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 10px;
   margin-top: -140px;
   margin-left: 10px;
}

.vacation .container .content .cards .upper h5{
   font-size: 22px;
   font-family: "poppins",  sans-serif;
   padding-left: 40px;
}

.vacation .container .content .cards .upper p{
   color: var(--orange-color);
   font-weight: bold;
   font-size: 20px;
   margin-left: 50px;
   padding-left: 20px;
}

.vacation .container .content .cards .lower{
   
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 10px;
   margin-top: -35px;
}

.vacation .container .content .cards .lower .left{
   
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 10px;
   margin-left: 50px;
}

.vacation .container .content .cards .lower .right{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 10px;
   padding-left: 100px;
}

/* Testimonial Section */

.testimonial{
   margin-top: 0;
   max-width: 1134px;
   
   
 }

 .testimonial .container{
   position: relative;
   margin: 0;
   padding-bottom: 200px;
 }

 .testimonial .container .content{
   display: flex;
   align-items: center;
   justify-content: space-between;

   @media (max-width:320px){
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 200px;
   }
 }
 .testimonial .container .content .left .element{
   position: absolute;
   margin-top: -420px;
   margin-left: 60rem;
   
 }

 .testimonial .container .content .left h2{

   font-family: "volkhov", sans-serif;
   font-weight: 900;
   font-size: 48px;
   padding-top: 50px;
 }

 .testimonial .container .content .left h2 .orange{
   color: var(--orange-color);
 }

 .testimonial .container .content .left{
   padding-left: 70px;

   @media (max-width:320px){
    margin-left:-100px;
    margin-right: -400px;
    
   }
 }

 .testimonial .container .content .left p{

   font-family: "poppins", sans-serif;
   
 }

 .testimonial .container .content .left img{

  padding-top: 30px;

 }

 .testimonial .container .content .right .cards{
   position: relative;

   @media (max-width:320px){
    align-items: center;
    margin-left: 55rem;
    
   }
 }

 .testimonial .container .content .right .cards .card-1{
   margin-top: -20rem;
   margin-left: -25rem;
   
 }

 .testimonial .container .content .right .cards .card-2{
   
   margin-top: -10rem;
   margin-left: -20rem;

   @media (max-width:320px){
    padding-bottom: 25rem;
   }
 
 }

 .testimonial .container .content .right .card-1 .bg{
   position: absolute;
   width: 504px;
   height: 245px;
   box-shadow: 18px 100px 150px rgba(0, 0, 0, 0.5);
   border-radius: 14px;
   z-index: 1;
   margin-left: -140px;
   margin-top: 240px;
   background-color: #FFFFFF;
 }

 .testimonial .container .content .right .card-2 .bg{
  position: absolute;
   width: 504px;
   height: 245px;
   box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.1);
   border-radius: 14px;
   margin-left: -150px;
   margin-top: 22rem;
 }

 .testimonial .container .content .right .cards .card-1 .upper img{
   position: absolute;
   margin-top: 190px;
   margin-left: -170px;
   z-index: 10;
 }

 .testimonial .container .content .right .cards .card-1 .upper p{
   position: absolute;
   margin-top: 280px;
   margin-left: -100px;
   z-index: 10;
 }

 .testimonial .container .content .right .cards .card-1 .lower h4{
   position: absolute;
   margin-top: 395px;
   margin-left: -100px;
   z-index: 10;
 }

 .testimonial .container .content .right .cards .card-1 .lower p{
   position: absolute;
   margin-top: 430px;
   margin-left: -100px;
   z-index: 10;
 }

 .testimonial .container .content .right .cards .card-2 .lower h4{
   position: absolute;
   margin-top: 32rem;
   margin-left: -100px;
   z-index: 10;
   
 }

 .testimonial .container .content .right .cards .card-2 .lower p{
   position: absolute;
   margin-top: 545px;
   margin-left: -100px;
   z-index: 10;
 }

   /* Blog Section */

   .blog{
      margin-top: 0;
      max-width: 1134px;
     
    }
   
    .blog .container{
      position: relative;
      margin: 0;
      padding-bottom: 50px;
      @media (max-width:1440px){
        margin-left: 100px;
      }
    }
       

    .blog .container .content .cards{
      display: flex;
      align-items:center;
      justify-content: center;
      gap: 20px;
      margin-left: -20px;
      padding-left: 40px;
      padding-bottom: 80px;

      @media (max-width:320px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 15rem;
      }
     
    }

    .blog .container .content h2{

      font-family: "volkhov", sans-serif;
      font-weight: 900;
      font-size: 48px;
      padding-top: 50px;
      text-align: center;
      padding-left: 160px;
      padding-bottom: 50px;

      @media (max-width:320px){
        margin-left:-150px;
        padding-right: 100px;
        text-align:center;
        margin-right: -300px;
      }
    }
   
    .blog .container .content h2 .orange{
      color: var(--orange-color);
    }

    
    .blog .container .content .cards img{

      width: 270px;
      height: 270px;
     
    }

    .blog .container .content .cards .bg{
      position: absolute;
      width: 270px;
      height: 388px;
      box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.1);
      border-radius: 14px;
      z-index: 1;
    }


    .blog .container .content .cards .upper{
      font-size: 18px;
      color: #222222;
      padding-left: 10px;
      padding-top: 5px;
    }

    .blog .container .content .cards p{
      font-size: 16px;
      color: #999999;
      padding-left: 10px;
      margin-top: -1px;
    }

    .blog .container .bottom{
      margin-left: 30rem;
      @media (max-width:320px){
        align-items: center;
        margin-left: 100px;
      }
    }

    /* Footer Section */

    .footer{
      margin: 0;
      max-width: 1134px;
    
     
    }
   
    .footer .container{
      position: relative;
      
    
    @media (max-width:1440px){
        margin-left: -60px;
        margin-bottom: 50rem;
      }

    @media (max-width:320px){
      flex-direction: column;
    }

               
    }

    .footer .container .subscribe .bg{
      position: absolute;
      width: 1170px;
      height: 416px;
      background-color: var(--orange-color);
      border-radius: 10px;
      margin-left: 80px;
      margin-bottom: 0;

     @media (max-width:320px){
      width:575px;
      
    }
      
    }

    .footer .container .subscribe .content h3{
      font-family: "volkhov", sans-serif;
      font-weight: 900;
      font-size: 48px;
      position: absolute;
      text-align: center;
      color: #FFFFFF;
      margin-left: 340px;

      @media (max-width:320px){
        margin-left: -1px;
        margin-right: -250px;
        margin-top: 0px;
        padding-left: 80px;
      }
    }

    .footer .container .subscribe .elements .tree{
      position: absolute;
      width: 112.25px ;
      height: 113.12px;
      margin-left: 71rem;
      margin-top: 10px;
      color: #E5E5E5;

      @media (max-width:320px){
        margin-left: 30rem;
        padding-top: 50px;
        padding-left: 30px;
      }
    }

    
    .footer .container .subscribe .elements .circle{
      position: absolute;
      width: 361px ;
      height: 480px;
      margin-left: 82px;
      margin-top: 149px;
      color: #E5E5E5;

      @media (max-width:320px){
        
        margin-top: 150px;
      }
    }

    .footer .container .subscribe .content form input{
      position: absolute;
      font-family: "Poppins",sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 200%;
      border-radius: 8px;
      padding: 8px 10px 8px 40px;
      border: none;
      width: 53%;
      color: #000000;
      margin-left: 21rem;
      margin-top: 260px;
      z-index: 10;
      
      @media (max-width:320px){
      margin-left:90px;
      padding-right: 19.5rem;
    }
 
    }

    .footer .container .subscribe .content form img{
      position: absolute;
      width: 18.67px;
      height: 16px;
      z-index: 10;
      margin-left: 21.6rem;
      margin-top: 17.3rem;

      @media (max-width:320px){
      margin-left: 100px;
    }
    }

    .footer .container .subscribe .content form .submit{
      position: absolute;
      z-index: 10;
      transform: translateY(-50%);
      background: var(--orange-color);
      color: #fff;
      border-radius: 8px;
      padding: 6px 28px;
      border: 0;
      font-family: "Poppins",sans-serif;
      font-weight: normal;
      font-size: 16px;
      cursor: pointer;
      margin-top: 17.8rem;
      margin-left: 54.5rem;

      @media (max-width:320px){
        margin-left: 31rem;
      }
    }

    .footer .container .left .logo img{
      position: absolute;
      margin-left: 100px;
      margin-top: -50px;

      @media (max-width:320px){
        align-items: center;
        padding-left: 50px;
      }

    }

    .footer .container .left p{
      position: absolute;
      margin-top: -5PX;
      margin-left: 100px;

      @media (max-width:320px){
        align-items: center;
        margin-right: -250px;
        text-align:justify ;
      }

    }

    .footer .container .left .social{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      margin-top: 60px;
      margin-left: 100px;

      @media (max-width:320px){
        align-items: center;
        padding-left: 5px;
      }
    }

    .footer .container .left {
      
      padding-top: 35rem;

      @media (max-width:320px){
        align-items: center;
        padding-left: 130px;
      }
    }

    
    .footer .container .right {
      
      margin-top: -70px;
      margin-left: 190px;    
      
    }

    .footer .links-container{
     
      display: grid;
      grid-template-columns:  5fr 5fr 4fr ;
      gap: 100px;
      width: 598px;
      height: 210px;
      padding-left: 29rem;
      padding-top: -50px;

      @media (max-width:320px){
        display: flex;
        margin-left: -34rem;
        margin-top: 230px;
       }
    }

    .footer a{
      text-decoration: none;
      color: #666666;
      margin-left:-20px
    }

    .footer h3{
      color: var(#222222);
    }
    
    .footer ul{
      list-style: none;
      padding-left: 20px;

    }
    
    .footer ul li{
      margin: 16px 0;
    }

    .footer .container .border img{
     
      margin-left: 100px;
      margin-top: 50px;

      @media (max-width:320px){
        align-items: start;
        margin-left:-5rem;
      }
    }

    .footer .container .copyright{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 1325px;      
      
    }
    
    .footer .container .copyright .left p{
     
      margin-top: -540px;
      margin-left: -5px;
      padding-left: 50px;
      color: #666666;

       @media (max-width:320px){
        margin-left: -15rem;
        padding-left: px;
      }
    }

    .footer .container .copyright .right p{
      
      margin-top: -220px;
      margin-left:40rem;
      padding-left: 50px;
      color: #666666; 
      
       @media (max-width:320px){
        padding-top: 30px;
        margin-left: -58rem;
      }
      
    }

    /* Media Queries */

  @media (max-width:1440px){

    /* Header & Buttons */
    btn{
      padding: 16px 12px 20px;
    }

  }
